/* HARD RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  margin-left:0px;
  margin-right:0px;
  padding: 0;
  width: 100%;
  height: 100%;
}
#root{
    max-width: none !important;
    background-color:#f8f9fa;
}