.cont-1 {
    margin-left: 2em;
    margin-top:1.5em;
    
}



.main-cont{
    display:flex;
    justify-content: space-between;
    margin:0px;
    width:100%;
    border-bottom:4px solid #f0efef;
    background-color: white;
    height:40%;
}

.cont-2{
    align-self:center;
    margin-right:2em;
    background-color: #f0efef;
    padding: 0.5em;
    padding-left:0.9em;
    padding-right:0.9em;
    border-radius:0.5em;
    display:flex;
    align-items: center;
}

.cont-2 p{
    font-size:1.1em;
    margin:0px;
}